<title>{{ page.title }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta http-equiv="content-language" content="en-us" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax_thankful_eyes.css">

<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/favicons/apple-touch-icon.png">
<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
<link rel="alternate icon" type="image/png" href="{{ site.baseurl }}/favicons/favicon-32x32.png">
<link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}/favicons/favicon.svg">
<link rel="manifest" href="{{ site.baseurl }}/site.webmanifest">
